.readMore {
  div {
    height: 3rem;
    width: 10px;
  }
  button {
    background-color: rgb(253, 253, 248);
    border-radius: 15px 0 15px 0;
    color: rgb(141, 27, 27);
    font-size: 0.6rem;
    font-weight: 800;
    border: 1px solid white;
    border-radius: 15px 0 15px 0;
    transition: 0.3s;
    &:hover {
      border: 1px solid white;
      border-radius: 0 15px 0 15px;
      background-color: transparent;
      color: white;
    }
  }
}

@media (max-width: 600px) {
  .readMore {
    div {
      height: 0rem;
      width: 0px;
    }
  }
}
